

*{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:  #323840; ;
}
.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    height: 220px;
    max-width: 560px;
    width: 100%;
    background-color:  rgba(40, 41, 60, 0.526);
    border-radius: 10px;
}
.clock span{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #323840;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 45px;
    font-weight: bold;
    color: white;
}
.clock p{
    font-size: 45px;
    color: white;
}
